# OpenSSL root CA configuration file.

[ ca ]
# `man ca`
default_ca = eudiw-poc-nl-root-ca

[ eudiw-poc-nl-root-ca ]
# Directory and file locations.
dir               = /opt/eudiw/ca
certs             = $dir/certs
crl_dir           = $dir/crl
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
RANDFILE          = $dir/private/.rand

# The root key and root certificate.
# Match names with Smallstep naming convention
private_key       = $dir/ca/root-ca.key
certificate       = $dir/ca/root-ca.crt

# For certificate revocation lists.
crlnumber         = $dir/crl/crlnumber
crl               = $dir/crl/ca.crl.pem
#crl_extensions    = crl_ext
default_crl_days  = 30

# SHA-1 is deprecated, so use SHA-2 instead.
default_md        = sha256

# copy extentions from the CSR
copy_extensions   = copy

name_opt          = ca_default
cert_opt          = ca_default
default_days      = 25202
preserve          = no
policy            = policy_strict

[ policy_strict ]
# The root CA should only sign intermediate certificates that match.
# See the POLICY FORMAT section of `man ca`.
countryName             = match
organizationName        = match
commonName              = supplied

[ req ]
# Options for the `req` tool (`man req`).
default_bits        = 4096
distinguished_name  = req_distinguished_name
string_mask         = utf8only

# SHA-1 is deprecated, so use SHA-2 instead.
default_md          = sha256

# Extension to add when the -x509 option is used.
x509_extensions     = v3_ca

[ req_distinguished_name ]
# See <https://en.wikipedia.org/wiki/Certificate_signing_request>.
commonName                      = Common Name
countryName                     = Country Name (2 letter code)
0.organizationName              = Organization Name

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, cRLSign, keyCertSign
extendedKeyUsage = critical, 1.3.130.2.0.0.1.7
crlDistributionPoints = URI:https://{NGROK_DOMAIN}/ca/eudiw-poc-nl-root-ca-01.crl
issuerAltName = URI:{ISSUER_URL}

#[ v3_intermediate_ca ]
# Extensions for a typical intermediate CA (`man x509v3_config`).
#subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid:always,issuer
#basicConstraints = critical, CA:true, pathlen:0
#keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ v3_req ]
# Extensions for leaf certificate
#subjectKeyIdentifier = hash
#authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:false
#keyUsage = critical, digitalSignature
crlDistributionPoints = URI:https://{NGROK_DOMAIN}/ca/eudiw-poc-nl-root-ca-01.crl
issuerAltName = URI:{ISSUER_URL}
